{% extends "base.html" %}

{% block content %}
    <h2>My Bookings</h2>

    {% if bookings %}
        <ul>
            {% for booking in bookings %}
                <li>
                    Name: {{ booking.name }}<br>
                    Email: {{ booking.email }}<br>
                    Phone Number: {{ booking.phone_number }}<br>
                    Date & Time: {{ booking.date_time }}<br>
                    Pax: {{ booking.pax }}<br>
                    Comments: {{ booking.comments }}<br>

                    <!-- Delete button -->
                    <form method="post" action="{% url 'delete_booking' booking.pk %}">
                        {% csrf_token %}
                        <button type="submit" class="link-button">Delete</button>
                    </form>

                    <!-- Edit button -->
                    <form method="get" action="{% url 'edit_booking' booking.pk %}">
                        <button type="submit" class="link-button">Edit</button>
                    </form>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>You do not have any bookings at the moment.</p>
    {% endif %}
    <!-- Display any existing bookings or information -->

    <h3>Book a table</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ booking_form.as_p }}
        {{ booking_form.pax.errors }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}
